# Bounce verification test
lx = 1.0
ly = 1.0
lz = 1.0

gx = 0.0
gy = 0.0
gz = -9.81

kn      = 1.0e5
gamma_n = 50.0

dt      = 1.0e-5
t_final = 2.0

n_particles = 1
particle_r  = 0.02
particle_m  = 1.0

n_threads = 1

output_interval = 5.0e-4

# mode 3 = single-particle bounce
init_mode   = 3
random_seed = 1
